.titleregister {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.labelfont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: black;
}
